<%= form_for @shift, html: { multipart: true } do |f| %>

  <div class="form-group">
    <%= f.file_field :file %>
  </div>

  <div class="form-group">
    Сдвинуть на <%= f.text_field :time, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit ('Сдвинуть'), class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="warning">

  <div class="bodymovin" style="width: 9%; margin: 0 auto" data-icon="<%= asset_path("warning.json")%>"></div>

  <p> </p>

  <p>Если происходят страшные вещи с кодировками (Вы стали видеть непонятные символы в файле) или появляется ошибка, то</p>

  <ul>
    <li><p>Убедитесь, что Вы загружаете субтитры SubRip (расширение <code>.srt</code>)</p></li>
    <li><p>Попробуйте потворить магию с кодировками <a href="http://foxtools.ru/Text">здесь</a> </p></li>
  </ul>

</div>