<title>Как извлечь субтитры из фильма? | MagicSub</title>

<div class="container" style="width: 800px">

  <h1>Как извлечь субтитры из фильма?</h1>

  <p>Иногда нужно извлечь готовые (вшитые) субтитры из фильма. Сами понимаете, что файл фильма — персонаж тяжелый, и зайти в Google с запросом &quot;извлечь субтитры онлайн&quot; рука не тянется. </p>

  <p>Извлечь субтитры можно самостоятельно.</p>

  <p>Я покажу, как извлекаются сабы через терминал на macOS (аналогично работает на Linux).</p>

  <figure>
    <img src="<%= asset_path("extract_0.png")%>" width="100%" />
  </figure>

  <p>Давайте начнём.</p>

  <p>Самый популярный формат фильмов в интернете — это матрёшка (когда фильм имеет расширение .mkv). Будем извлекать из него.</p>

  <p><strong>Шаг 1.</strong></p>

  <p>Открываем терминал.</p>

  <p>Нажмите <strong>Command(или Cmd)⌘-Пробел</strong> — отобразится поле поиска Spotlight.</p>

  <p>Затем введите &quot;<strong>терминал</strong>&quot;. Когда отобразится приложение, щёлкните по нему два раза.</p>

  <figure>
    <img src="<%= asset_path("extract_1.jpg")%>" width="100%" />
  </figure>

  <p><strong>Шаг 2.</strong> </p>

  <p><em>Пользователи Linux этот шаг могут пропустить.</em></p>

  <p>Установка Homebrew.</p>

  <p>Если Вы бывалый пользователь macOS, то можете пропустить.</p>

  <p><code>/usr/bin/ruby -e &quot;$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)&quot;</code></p>

  <p>Вставьте эту строку в терминал и нажмите Enter.</p>

  <p>Когда увидите сообщение &quot;<code>Press RETURN to continue or any other key to abort</code>&quot;, нажмите любую кнопку.</p>

  <p>Установщик также спросит пароль администратора. Введите его. Обратите внимание, что при вводе пароль отображаться не будет. Затем нажмите Enter.</p>

  <p>Подождите, пока установка закончится. </p>

  <figure>
    <img src="<%= asset_path("extract_2.jpg")%>" width="100%" />
  </figure>

  <p><strong>Шаг 3.</strong></p>

  <p>Вставьте в терминал строку <code>brew install mkvtoolnix</code> и нажмите Enter. Подождите, пока установка закончится.</p>

  <p><em>Команда для пользователей Linux:</em> <code>sudo apt install mkvtoolnix</code></p>

  <p><strong>Шаг 4.</strong></p>

  <p>Как правило, в фильмах есть сабы для разных языков. Каждым субтитрам присвоен свой ID, по которому их можно извлечь.</p>

  <p>Начнём работать с файлом.</p>

  <p>Для примера я буду использовать первый эпизод из сериала &quot;Слишком стар, чтобы умереть молодым&quot;.</p>

  <p>Посмотрим в видеоплеере, какие сабы уже вшиты (Ваш видеоплеер может выглядеть по-другому).</p>

  <figure>
    <img src="<%= asset_path("extract_3.jpg")%>" width="100%" />
  </figure>

  <p>Хорошо. Теперь посмотрим на этот же список в терминале.</p>

  <p>Нажмите на файл фильма правой кнопкой мыши или зажмите клавишу Ctrl и кликните по нему. Появится контекстное меню. Не закрывая контекстное меню, зажмите клавишу ⌥Option (Alt) и выберите пункт &quot;Скопировать путь до ...&quot;.</p>

  <p>Для удобства предлагаю временно сохранить скопированный путь к файлу. Например, оставьте его в строке браузера.</p>

  <p>Введите в терминале строку <code>mkvmerge -i file.mkv</code>, где <code>file.mkv</code> — ранее скопированный путь. Нажмите Enter.</p>

  <figure>
    <img src="<%= asset_path("extract_4.jpg")%>" width="100%" />
  </figure>

  <p>Мы видим, что первые позиции выделены под &quot;video&quot; и &quot;audio&quot;. Это сам видеоряд и аудиодорожки к нему. Далее мы видим список субтитров.</p>

  <p>Извлечём русские субтитры.</p>

  <p>ID для них посчитать не трудно: обратите внимание на смещение нумерации.</p>

  <p>Номер русских субтитров в видеоплеере — 22. Сообразим, что ID равен 23.</p>

  <p>(Такая разность будет не во всех случаях: всё зависит от количества аудиодорожек).</p>

  <p><strong>Шаг 5.</strong></p>

  <p>Извлечём субтитры.</p>

  <p><code>mkvextract tracks file.mkv 23:new_sub.srt</code></p>

  <p>Вставьте эту строку в терминал (где <code>file.mkv</code> — ранее скопированный путь, а <code>23</code> — нужный ID) и нажмите Enter.</p>

  <figure>
    <img src="<%= asset_path("extract_5.jpg")%>" width="100%" />
  </figure>

  <p>Зайдите в домашнюю папку пользователя (~/Users/...) и проверьте: появился файл new_sub.srt.</p>

  <figure>
    <img src="<%= asset_path("extract_6.jpg")%>" width="100%" />
  </figure>

  <p>Мы извлекли сабы.</p>

  <p><strong>Extended</strong></p>

  <p>Давайте извлечём сразу все сабы из фильма.</p>

  <p><code>for ((i=2; i &lt;= 28; i++)) do</code>
    <code>mkvextract tracks file.mkv $i:&quot;sub_${i}.srt&quot;;</code>
    <code>done</code></p>

  <p>Где <code>file.mkv</code> — ранее скопированный путь, в <code>((i=2; i &lt;= 28; i++))</code> вместо <code>2</code> и <code>28</code> крайние ID сабов (можно посмотреть из команды на шаге 4).</p>

  <p>Вставьте полученные строки в терминал и нажмите Enter.</p>

  <%= render 'disqus' %>

</div>