<article class="post">
  <section class="post-head">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <small>
      <time><%= post.created_at.to_date.strftime("%d %B, %Y") %></time>
      <% if post.category.present? %>
        |
        <%= link_to post.category.name, post.category, style: "color: #212121" %>
      <% end %>
      <% if user_signed_in? %>
      |
      <%= link_to 'Изменить', edit_post_path(post), style: "color: #FF7E79" %>
      |
      <%= link_to 'Удалить', post_path(post), method: :delete, data: {confirm: 'Вы уверены?' }, style: "color: #FF7E79" %>
        <% end %>
    </small>
  </section>

  <section class="post-preview clearfix">
    <% if post.image? %>
      <a href="<%= post.image %>" download>Файл</a>
    <% end %>
    <%= post.preview %>
  </section>

  <section class="footer-preview">
    <%= raw post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'tag' }.join(' ') %>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.9/lottie.js" type="text/javascript"></script>
</article>